/*inactive*/

/* ============================
   Section: Body and useful 
   ============================ */
body {
    background-color: #ead8c1;
    color: #000000;
    font-family: "Lucida Console", "Courier New", monospace;
}

.centre-text {
    text-align: center;
}




/* ============================
   Section: Object widths
   ============================ */
.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}




/* ============================
   Section: Boxes
   ============================ */
.box {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
}

.borderBox {
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
}




/* =========================================
   Section: Navigation Background colours
   Description: These all change the background colour of elements they also change the 
   text colour to black or white depending on the background colour.
   ========================================= */
.backgroundDarkBlue {
    background-color: #444484;
    color: #ffffff;
}

.backgroundLightBlue {
    background-color: #5E6FB4;
    color: #ffffff;
}

.backgroundDarkCream {
    background-color: #ead8c1;
    color: #000000;
}

.backgroundLightCream {
    background-color: #FAEDCF;
    color: #000000;
}

/*used for buttons*/
.backgroundPurple {
    background-color: #590749;
    color: rgb(255, 255, 255);
}




/* ============================
   Section: Buttons
   ============================ */

.button {

    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.buttonLarge {

    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 250px;
}

.buttonSmall {
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 140px;
}

.white a {
    color: white;
    text-decoration: none;
}

.float-right
{
float: right;
}


/* ============================
   Section: Borders
   ============================ */
.flip-vertically {
    transform: scaleY(-1);
}

.border {
    width: 100%;
    height: auto;
}



/* ============================
Section: Home_Page   
============================ */

.OxAndTree {
    width: 420px;
    height: auto;
}

@media (max-width: 1000px) {
    .OxAndTree {
      width:30%;
    }
}


.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

/*used for the buttons on home screen*/
#flexbox-home-buttons {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#flexbox-home-image-buttons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}




/* ============================
Section: Lore_Page   
NOTE CHANGE NAMES AND CLASSES TO IDS
============================ */
.map {
    width: 100%;
    height: auto;
}

.lore-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .lore-container {
        flex-direction: column;
    }
}


/* ============================
   Section: animation_page
   ============================ */
.animation {
    max-height: 80vh;
}

/* ============================
Section: Rules page    
im touching stuff 
============================ */
#Rules-example{
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #444484;
    color: white;
}

.Rules-Example-option{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.Rules-Senario-Options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}