/*active*/

/* ============================
   Section: Body and useful 
   ============================ */
body {
    height: 100%;
    background-color: #ead8c1;
    color: #000000;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: url('Media/pixel-cursor.png'), auto;
}

/*it's 1am and I'm making cursors <3*/
/*this shows a pixelated hand when the user hovers over links*/

a {
    cursor: url('Media/hand-cursor.png'), auto;
}

.centre-text {
    text-align: center;
}



/* ============================
   Section: Object widths
   Description: this sets an object to be 100% or 50% the width of its parent container
   ============================ */
.width100 {
    width: 100%;
    height: auto;
}

.width50 {
    width: 50%;
}

/* ============================
   Section: Boxes
   Description: These are two boxes with rounded corners, padding and margins
   ============================ */
.box {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
}

/*this has more padding sas its used as a border around another box*/
.borderBox {
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
}

/* =========================================
   Section: Background colours
   Description: These all change the background colour of elements they also change the 
   text colour to black or white depending on the background colour.
   ========================================= */
.backgroundDarkBlue {
    background-color: #444484;
    color: #ffffff;
}

.backgroundLightBlue {
    background-color: #5E6FB4;
    color: #ffffff;
}

.backgroundDarkCream {
    background-color: #ead8c1;
    color: #000000;
}

.backgroundLightCream {
    background-color: #FAEDCF;
    color: #000000;
}



/* ============================
   Section: Buttons
   Description: this is the styling for the buttons. there are 3 sizes each with different font sizes and rounded corners
   It also has the colour change when hovered and the large buttons have gradients.
   ============================ */

.button {
    font-size: 18px;
    cursor: url('Media/hand-cursor.png'), auto;
    /*this shows a pixelated hand when the user hovers over buttons*/
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.buttonLarge {
    font-size: 24px;
    cursor: url('Media/hand-cursor.png'), auto;
    /*this shows a pixelated hand when the user hovers over buttons*/
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    background-image: linear-gradient(to bottom right, #444484, #5E6FB4);
    color: #ffffff;
}

.buttonSmall {
    font-size: 16px;
    cursor: url('Media/hand-cursor.png'), auto;
    /*this shows a pixelated hand when the user hovers over buttons*/
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 140px;
}

button:hover {
    background-color: #4d5ea0 !important;
}

.buttonLarge:hover {
    background-image: linear-gradient(to bottom right, #5E6FB4, #444484);
    /* reversed gradient */
    color: #ffffff;
}

/*floats the buttons right when needed*/
.float-right {
    float: right;
}


/* ============================
   Section: Borders
   Description: this flips the border it when necessary 
   (so there can be a border on the top and bottom thatare mirrored)
   ============================ */
.flip-vertically {
    transform: scaleY(-1);
}



/* ============================
Section: Home_Page   
============================ */
/*!important wouldn't work for over writting so I resorted to inline styling*/
body#home {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
}

.margin-box {
    margin: 10px;
    padding: 10px;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    /* Ensures it fills the entire screen */
    box-sizing: border-box;


}

.home-main-item {
    align-self: stretch;
    box-sizing: border-box;
    align-self: center;
    justify-content: flex-start;
    /* Align to the top of the screen */
}

.home-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    box-sizing: border-box;
}

.home-sub-item {
    align-self: stretch;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.title-image {
    padding: 5px;
    align-self: center;
    width: 80%;
    object-fit: contain;
    /* makes image fit in box without cutting off */
}

.OxAndTree {
    max-height: 30vh;
    display: block;
    
    position: relative;
    animation-name: image;
    animation-duration: 3s;
}

@keyframes image {
  0% {right:0px; bottom:0px;}
  50% {right:450px; bottom:180px; max-height: 70vh; ;}
  100% {right:0px; bottom:0px;}
}

.button-container-big {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.button-container-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
}



/* ============================
Section: Lore_Page
============================ */

/*flex box container where items are in rows until the screen is too small then it is in a column*/
.lore-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/*stretch lets the item fill the container*/
.lore-item {
    align-self: stretch;
    box-sizing: border-box;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* I used this website https://css-tricks.com/the-new-css-media-query-range-syntax/ but changed the amount of pixels*/
@media (max-width: 1000px) {
    .lore-container {
        flex-direction: column;
    }

    .lore-item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}


/* ============================
   Section: animation_page
   ============================ */

.animationContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 2 1 0px;

}

.left-side {
    flex: 1 1 0px;

}

.animationItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.paper {
    width: 20svw;
}

#assasination {
    border-radius: 15px;
    max-height: 100svh;
    max-width: 100Svh;
    border-color: #FAEDCF;
    border-width: 30px;
    border-style: solid;
}

@media (max-width: 1000px) {
    .animationContainer {
        flex-direction: column;
    }

    .animationItem {
        flex-direction: column;
        box-sizing: border-box;
    }

    .paper {
        width: 80svw;
    }
}

#news_paper {
    animation-duration: 4s;
}

@keyframes example {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}


/* ============================
Section: Rules page    
im touching stuff 
============================ */
#Rules-example {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #444484;
    color: white;
}

.Rules-Example-option {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.Rules-Senario-Options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#rules_body {
    animation: grow 1s;
}

@keyframes grow {
    0% {
        transform: scale(.2);
    }

    100% {
        transform: scale(1);
    }
}


/* ============================
   Section: stats_page
   ============================ */

.stats-image {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}




.block {
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.statsP-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.statsP-item {
    align-self: stretch;
    box-sizing: border-box;
}

#enter_stats {
    flex: 1 1 0px;
}

#countries_details {
    flex: 2 1 0px;
}

.countries-item {
    box-sizing: border-box;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
}

.countries-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* I used this website https://css-tricks.com/the-new-css-media-query-range-syntax/ but changed the amount of pixels*/
@media (max-width: 1000px) {
    .statsP-container {
        flex-direction: column;
    }

    .statsP-item {
        flex-direction: column;
        box-sizing: border-box;
    }
}


/* ============================
   Section: senario-page
   MAIN PAGE AHH
   ============================ */

#Senario-body {
    width: 100%;
    margin: 0.5% auto;
    height: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    height: 100px;
    width: 290px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

#border-under-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}


#main-page-border {
    width: 60%;
}

#inner-page-border {
    width: 60%;
    height: 30%;
}

#stats_title {
    width: 25%;
    height: 20%;
    display: flex;
    align-self: center;
}

.left-side {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.right-side {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#stats-box {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
    height: 35%;
    background-color: #444484;
    color: white;
    display: flex;
    flex-direction: column;

}

#main-page-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

#senario-box {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
    height: 92vh;
    background-color: #444484;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#inner-senario-box {
    margin: 10px;
    border-radius: 15px;
    padding: 10px 30px;
    height: 30vh;
    background-color: #448453;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

#pillar {
    height: 255px;
    display: flex;
}

#russian_nesting_doll {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: yellow;
}

#result {
    display: flex;
    align-self: center;
}

#row_within_column {
    display: flex;
    flex-direction: row;
    background-color: plum;
    align-content: space-between;
}

#Buttons {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* #inner-senario-box-perent {
    background-color: #590749;
    display: flex;
    
}
*/



td {
    padding: 0.5vb;
    /* Optional: Add padding for content */
}

.table_right {
    text-align: right;
}

/* ============================
Section: Pop ups/Post its   
============================ */

/*https://www.geeksforgeeks.org/how-to-create-popup-box-using-html-and-css/*/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


.backgroundPostitButton {
    background-color: #edd684;
    color: rgb(0, 0, 0);
}

.backgroundPostit {
    background-color: #ffedae;
    color: rgb(0, 0, 0);
}

.postit {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    aspect-ratio: 1 / 1;
    transform-origin: top left;
    /* Pivot point */
    transform: rotate(1deg);
}

.vignette {
    box-shadow: 0 0 50px #edd684 inset;
    box-shadow: 0 0 20px #ab9b58 inset;
}


.postit {
    margin: 10px;
    padding: 20px;
}







/* ============================
   Section: loser_page
   ============================ */

#loser_body {
    display: flex;
    justify-content: center;
}


#loser_box {
    width: 80%;
    border: 15px solid #444484;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    background-color: #5E6FB4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#loserpagehomelink {
    background-color: #ead8c1;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px;
}

.grave-image {
    height: 150px;
}

/* ============================
   Section: end_page
   ============================ */

.end_image {
    width: 20vw;
}













